:root {
    /* Senhor dos Aneis */
    /* --background-hero: linear-gradient(-45deg, #0D47A1, #1976D2, #512DA8, #8E24AA, #E040FB); */

    /* Guardioes da Galaxia vol. 1 */
    --background-hero: linear-gradient(-45deg, #0D47A1, #1976D2, #00ACC1, #00796B, #4CAF50);
    --text-color-Hero: rgb(255, 255, 255);
    --size-default: medium;
    --width-image: 100%;
    --height-image: 100%;
}

.hero {
    background: var(--background-hero);
    color: var(--text-color-Hero);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-size: 400% 400%;
    transition: all;
    animation: gradient 15s ease infinite;
}

.bodyHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex: 1 1 0%;
}

p {
    font-size: var(--size-default);
    padding-inline: 1rem;
}

@media screen and (max-width: 700px) {
    p{
        text-align: center;
        text-wrap: wrap;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}