:root {
    /* Guardioes da Galaxia vol. 1 */
    /* --background-hero: linear-gradient(-45deg, #0D47A1, #1976D2, #512DA8, #8E24AA, #E040FB); */

    /* Avatar */
    --background-hero: linear-gradient(-45deg, #0D47A1, #1976D2, #00ACC1, #00796B, #4CAF50);
    --text-color-Hero: rgb(255, 255, 255);
    --size-default: medium;
    --width-image: 100%;
    --height-image: 100%;
}

.hero {
    background: var(--background-hero);
    color: var(--text-color-Hero);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-size: 400% 400%;
    transition: all;
    animation: gradient 15s ease infinite;
}

.bodyHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 0%;
}

.bodyHero h1 {
    font-size: xx-large;
    text-align: center;
}

.bodyHero p {
    font-size: var(--size-default);
    padding-inline: 1rem;
    text-align: center;
}

@media (max-width: 700px) {
    p {
        text-align: center;
        text-wrap: wrap;
    }
}

@media(min-width: 768px) {
    .bodyHero h1 {
        font-size: 70px;
        text-align: center;
    }

}

@media (min-width: 1024px) {
    .bodyHero h1 {
        font-size: 80px;
        text-align: center;
    }

    .hero {
        height: 96.1vh;
    }
}

@media(min-width: 1400px) {
    .bodyHero h1 {
        font-size: 100px;
        text-align: center;
    }

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}