:root {
    --background-hero: rgba(41, 31, 31, 0.589);
    --color-hero: rgb(255, 255, 255);
    --size-default: medium; 
    --width-image: 100%;
    --height-image: 100%;
}

.hero{
    background-color: var(--background-hero);
    color: var(--color-hero);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 10rem);
}

p{
    font-size: var(--size-default)
}

/* @media screen and (min-width: 375px) {
    
} */

@media screen and (min-width: 768px) {
    #image{
        display: block;
    }
}