#component{
    background: linear-gradient(45deg, red, blue);
    color: white ;
    border: none;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-size: 100%;
}

#component:hover{
    background: linear-gradient(45deg, red, blue, purple);
}