.bodySlide {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    margin: 0;
    width: 375px; 
    overflow: hidden;
    margin-bottom: 10px;
}

.slides {
    width: 200%;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    position: relative;
    width: 50%;
    transition: 0.5s all;
}

.card {
    margin: 10px;
    margin-bottom: 40px;
    padding-inline: 20px;
    padding-block: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;

    background: rgba(39, 39, 39, 0.562);
}

.Image {
    width: 96%;
    height: 96%;
    border-radius: 100%;
}

.ImagesDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;

    background: var(--background-color-Image);
    background-size: 400% 400%;
    transition: all;
    animation: gradient 5s ease infinite;
}

.descriptionProject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.aboutProject {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.aboutProject p {
    flex-wrap: wrap;
}

.nav-manual{
    position: absolute;
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
}

.manual-btn{
    padding: 9px;
    border: 2px solid white;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.5s all;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -50%;
}

@media(min-width: 768px) {
    @media(max-width: 900px) {
        .slider {
            width: 80%;
        }
    }
}

@media(min-width: 900px) {
    .slider {
        width: 50%;
    }
}