:root {
    --background-footer: rgb(17, 17, 17);
    --text-color-footer: rgb(255, 255, 255);
}

.footer{
    background-color: var(--background-footer);
    color: var(--text-color-footer);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid;
    border-color: rgb(77, 77, 77);
    padding-top: 3rem;
    padding-bottom: 0.5rem;
}

.Contatos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid;
    border-color: black;
}

.SocialMedia{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.SocialMediaButtons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.SocialMediaButtons:hover{
    transition: 0.1s ease-in-out;
    transform: scale(1.1);
}

.icons{
    width: 28px;
    height: 28px;
}

a{
    color: var(--text-color-footer);
}

#whatsapp{
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.1);
}

#whatsapp:hover{
    transition: 0.1s ease-in-out;
    transform: scale(1.2);
    color: rgb(0, 255, 0);
}

@media (max-width: 600px){
    .SocialMediaButtons{
        padding-block: 1rem
    }

    #whatsapp{
        padding-block: 1rem
    }
}