@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
      --background-color-default: rgba(0, 0, 0, 0.248);
      --boder-color-paragraph: rgba(255, 255, 255, 0.35);
      --background-color-About: linear-gradient(180deg, #2083bd, #09203F 50%);
      --max-width-paragraph: 800px;
      --max-width-list-items: 550px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
