@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
      --background-color-default: rgba(0, 0, 0, 0.248);
      --boder-color-paragraph: rgba(255, 255, 255, 0.35);
      --background-color-about: linear-gradient(180deg, #2083bd, #09203F 50%);
      --background-color-hero: linear-gradient(-45deg, #0D47A1, #1976D2, #00ACC1, #00796B, #4CAF50);

      --background-size-hero: 400% 400%;
      --animation-bg-hero: gradient 15s ease infinite;;

      --max-width-paragraph: 800px;
      --max-width-list-items: 550px;
  }
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
