 :root {
    --background-color-Projects: ;
    --text-color-Projects: ;
 }

 .bodyProjects {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

 .bodyProjects h1 {
    margin-block: 20px;
 }

 .card {
    margin-block: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background: gray;

 }

 .Image {
    width: 100%;
    height: 100%;
    border-radius: 100%;
 }

 .ImagesDiv {
    width: 150px;
    height: 150px;
 }

 .descriptionProject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
 }

 .navProjects{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    column-gap: 2rem;

    font-size: larger;
 }

 #Forward{
   border-radius: 100%;
   background: white;
   color: black;
 }

 #Backward{
   transform: rotate(180deg);
}

 @media(max-width: 768px) {}