 :root {
    --background-color-Projects:  #111111;
    --background-color-Image: linear-gradient(-45deg, #0D47A1, #1976D2, #512DA8, #8E24AA, #E040FB);
 }

 .bodyProjects {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--background-color-Projects);
    padding-block: 40px;
 }

 .bodyProjects h1{
   padding: 10px;
   margin-bottom: 10px;
 }