 :root {
    --background-color-Projects: linear-gradient(#09203F, #111111 80%);
    --text-color-Projects: ;

    --background-color-Image: linear-gradient(-45deg, #0D47A1, #1976D2, #512DA8, #8E24AA, #E040FB);
 }

 .bodyProjects {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--background-color-Projects);
    padding-block: 40px;
 }