:root{
    --background-forms: linear-gradient(to bottom, rgb(9, 32, 63), #537895);
    --text-color-forms: black ;
}

.bodyForms{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.spaceForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
    width: 100%;
    background: var(--background-forms);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 512px;
    gap: 2rem;
    padding: 3rem;
    border-radius: 10%;
    background: rgba(17, 17, 17, 0.747);;
}

.form input{
    width: 100%;
    height: 2rem;
    color: var(--text-color-forms);
    background: white;
}

.form textarea{
    width: 100%;
    height: 5rem;
    color: var(--text-color-forms);
    background: white;
}

@media (max-width: 599px){
    .form{
        width: 100%;
    }
}

@media (min-width: 1440px){
    .form{
        width: 30%;
        height: 40%;
    }
}