:root {
    --background-color: rgba(0, 0, 0, 0.450);
    --color-default: #ffffff;
}

*{
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-default) ;
  background: var(--background-color) ;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
